


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  outline: none;
  border: none;

  --box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.2);
  --hover-color: rgb(0, 0, 0, 0.1);
  --border-radius: 10px;
  --light-black: #333333;

 
}
